<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body data-bs-theme="dark">
    <%- include("./partials/nav.ejs") %>
    <div class="container center hero column my-4">
        <h1 class="text-center mt-5 mb-3">Enjoy some freshness</h1>
        <h3 class="text-center fs-6">Discover, Share, and Connect Through Stories</h3>
        <div class="center my-4">
          <a href="/blogs/<%= locals.blogs[parseInt(Math.random()*locals.blogs.length)]._id %>" class="me-2 btn btn-primary rounded-1 fs-6"><small>Read a random blog</small></a>
          <a href="/add-blog" class="me-2 btn btn-primary rounded-1 fs-6"><small>Start writing blog</small></a>
        </div>
    </div>
    <div class="container center">
      <% if (locals.blogs) { %>
        <div class="card m-2 mb-3 featured-card">
          <div class="row g-0">
            <div class="col-md-4 blogcover" style="background-image: url('<%= locals.blogs[locals.blogs.length - 1].coverImage %>');"></div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= locals.blogs[locals.blogs.length - 1].title %></h5>
                <p class="card-text"><%= locals.blogs[locals.blogs.length - 1].body.slice(0, 200) %>...</p>
                <p class="card-text mb-1">Author: <%= locals.blogs[locals.blogs.length - 1].author %></p>
                <p class="card-text" style="display: flex; align-items: center;"><span class="badge me-2 text-bg-warning">Latest</span><small class="text-body-secondary">Added a few mins ago</small></p>
                <a href="/blogs/<%= locals.blogs[locals.blogs.length - 1]._id %>" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>
        </div> 
      <% } %>
        <% if (locals.blogs) { %>
            <% locals.blogs.forEach((blog, i) => { if(i === locals.blogs.length - 1) return;%>
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-img-top full-w center" style="background-image: url('<%= blog.coverImage %>');"></div>
                    <div class="card-body">
                      <h4 class="card-title"><%= blog.title.slice(0, 20) %>...</h4>
                      <div class="full-w blogdetails mb-2 center">
                          <h6 class="card-text m-0"><%= blog.author %></h6>
                          <h6 class="card-text m-0"><%= blog.postedAt %></h6>
                      </div>
                      <p class="card-text blogbody"><%= blog.body.slice(0, 150) %>...</p>
                      <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read</a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <div style="color: crimson; font-size: 14px;">No blogs available currently!</div>
        <% } %>
    </div>
    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/cscripts.ejs") %>
</body>
</html>